<p id="notice"><%= notice %></p>

<h1>Listing Deals</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Picture</th>
      <th>Description</th>
      <th>Provider</th>
      <th>Expires on</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @deals.each do |deal| %>
      <tr>
        <td><%= deal.name %></td>
        <td><%= deal.location %></td>
        <td><%= deal.picture %></td>
        <td><%= deal.description %></td>
        <td><%= deal.provider %></td>
        <td><%= deal.expires_on %></td>
        <td><%= link_to 'Show', deal %></td>
        <td><%= link_to 'Edit', edit_deal_path(deal) %></td>
        <td><%= link_to 'Destroy', deal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Deal', new_deal_path %>
